[submodule "Labs/lab-python-data-structures"]
	path = Labs/lab-python-data-structures
	url = https://github.com/jipijipi/lab-python-data-structures.git
[submodule "Lessons"]
	path = Lessons
	url = https://github.com/jipijipi/ih-lessons.git
[submodule "Labs/lab-python-flow-control"]
	path = Labs/lab-python-flow-control
	url = https://github.com/data-bootcamp-v4/lab-python-flow-control.git
[submodule "Labs/--force"]
	path = Labs/--force
	url = https://github.com/jipijipi/lab-python-flow-control.git
[submodule "Labs/lab-python-control-flow"]
	path = Labs/lab-python-control-flow
	url = https://github.com/jipijipi/lab-python-flow-control.git
[submodule "Labs/lab-python-functions"]
	path = Labs/lab-python-functions
	url = https://github.com/jipijipi/lab-python-functions.git
[submodule "Labs/lab-python-list-dict-set-comprehension"]
	path = Labs/lab-python-list-dict-set-comprehension
	url = https://github.com/jipijipi/lab-python-list-dict-set-comprehension.git
[submodule "Labs/lab-python-error-handling"]
	path = Labs/lab-python-error-handling
	url = https://github.com/jipijipi/lab-python-error-handling.git
[submodule "Labs/lab-python-data-types-extra"]
	path = Labs/lab-python-data-types-extra
	url = https://github.com/jipijipi/lab-python-data-types-extra.git
[submodule "Labs/lab-python-data-structures-extra"]
	path = Labs/lab-python-data-structures-extra
	url = https://github.com/jipijipi/lab-python-data-structures-extra.git
[submodule "Labs/lab-python-flow-control-extra"]
	path = Labs/lab-python-flow-control-extra
	url = https://github.com/jipijipi/lab-python-flow-control-extra.git
[submodule "Labs/lab-python-functions-extra"]
	path = Labs/lab-python-functions-extra
	url = https://github.com/jipijipi/lab-python-functions-extra.git
[submodule "Labs/lab-python-list-dict-set-comprehension-extra"]
	path = Labs/lab-python-list-dict-set-comprehension-extra
	url = https://github.com/jipijipi/lab-python-list-dict-set-comprehension-extra.git
[submodule "Labs/lab-python-lambda-map-reduce-filter"]
	path = Labs/lab-python-lambda-map-reduce-filter
	url = https://github.com/jipijipi/lab-python-lambda-map-reduce-filter.git
[submodule "Labs/lab-python-oop"]
	path = Labs/lab-python-oop
	url = https://github.com/jipijipi/lab-python-oop.git
[submodule "Labs/lab-python-error-handling-extra"]
	path = Labs/lab-python-error-handling-extra
	url = https://github.com/jipijipi/lab-python-error-handling-extra.git
[submodule "Quests/Shark-Quest"]
	path = Quests/Shark-Quest
	url = https://github.com/jipijipi/Shark-Quest.git
[submodule "Labs/lab-dw-pandas"]
	path = Labs/lab-dw-pandas
	url = https://github.com/jipijipi/lab-dw-pandas.git
[submodule "Labs/lab-dw-data-cleaning-and-formatting"]
	path = Labs/lab-dw-data-cleaning-and-formatting
	url = https://github.com/jipijipi/lab-dw-data-cleaning-and-formatting.git
[submodule "Labs/lab-dw-data-structuring-and-combining"]
	path = Labs/lab-dw-data-structuring-and-combining
	url = https://github.com/jipijipi/lab-dw-data-structuring-and-combining.git
[submodule "Labs/lab-dw-data-aggregation-and-filtering"]
	path = Labs/lab-dw-data-aggregation-and-filtering
	url = https://github.com/jipijipi/lab-dw-data-aggregation-and-filtering.git
[submodule "Labs/lab-apis"]
	path = Labs/lab-apis
	url = https://github.com/jipijipi/lab-apis.git
[submodule "Labs/lab-web-scraping"]
	path = Labs/lab-web-scraping
	url = https://github.com/jipijipi/lab-web-scraping.git
